* {
  margin: 0;
}
/* common shared styles*/
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}

button svg {
  width: 18px;
  height: 18px;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 85%;
  padding: 60px;
}
.nav-title {
  color: #474747;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.banner-content {
  max-width: 600px;
  padding-bottom: 100px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner .pfp {
  width: 500px;
  height: 500px;
}
.image {
  display: flex;
  align-items: end;
}
.banner-description {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #757575;
  font-size: 18px;
  font-weight: 400;
}
.banner .btn-primary {
  margin-right: 30px;
}
.banner .banner-content .blank {
  border-radius: 5px;
  background: #fff8f3;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 33px;
}
/* main section styles */
main {
  max-width: 80%;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* about section styles */
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px 150px 130px 150px;
  margin-bottom: 130px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
  margin-top: 30px;
}
.info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
/* Work experience section styles*/
.work {
  width: 100%;
}
.work .section-description {
  padding-bottom: 50px;
  padding: 0 130px;
  margin-bottom: 50px;
}
.technologies {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.technology-xp {
  /* width: 267px;
  height: 377px; */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
  padding: 30px;
}

.technology-xp:nth-child(1):hover {
  background-color: rgb(250, 237, 154);
  box-shadow: 0px 6px 50px 0px rgb(190, 172, 52);
}
.technology-xp:nth-child(2):hover {
  background-color: rgb(187, 236, 250);
  box-shadow: 0px 6px 50px 0px rgb(35, 143, 173);
}
.technology-xp:nth-child(3):hover {
  background-color: rgb(208, 252, 160);
  box-shadow: 0px 6px 50px 0px rgb(98, 156, 35);
}
.technology-xp:nth-child(4):hover {
  background-color: #02e3609d;
  box-shadow: 0px 6px 50px 0px rgb(0, 241, 101);
}

.technology-title {
  color: #181818;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0;
}

.technology-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/* summary section styles */
.summary {
  width: 100%;
}
.summary .section-title {
  margin-bottom: 100px;
}
.summary-container {
  display: flex;
  gap: 60px;
}
.cv h4 {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.cv-items-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.cv-items-sub {
  color: #757575;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: 20px;
}
.cv-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
hr {
  margin: 30px 0;
  background: #d1d1d1;
}

.download {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 130px 0;
}
/* footer section styles */
.footer {
  background: #fff8f3;
  display: flex;
  gap: 60px;
  justify-content: center;
  width: 100%;
}
.footer h4 {
  color: #181818;
  text-align: left;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.social {
  width: 50%;
  padding-top: 160px;
}
.social .footer-description {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}
.social-icons svg {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
.form {
  padding-top: 160px;
}
.form-item {
  display: block;
  margin-top: 26px;
  width: 461px;
  height: 64px;
  border-radius: 5px;
  background: #fff;
  border: 0 #fff;
  color: #757575;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-left: 30px;
}

.msg {
  display: block;
  margin-top: 26px;
  width: 461px;
  height: 180px;
  border-radius: 5px;
  background: #fff;
  border: 0 #fff;
  color: #757575;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-left: 30px;
  padding-top: 18px;
}

label > button {
  margin-top: 26px;
}
