* {
  margin: 0;
}
/* common shared styles*/
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}

button svg {
  width: 18px;
  height: 18px;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 85%;
  padding: 60px;
}
.nav-title {
  color: #474747;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 150px 0px 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.banner-content {
  max-width: 600px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner .pfp {
  width: 500px;
}

.banner-description {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #757575;
  font-size: 18px;
  font-weight: 400;
}
.banner .btn-primary {
  margin-right: 30px;
}
.banner .banner-content .blank {
  border-radius: 5px;
  background: #fff8f3;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 33px;
}
/* main section styles */
main {
  max-width: 85%;
  margin: 0 auto;
}
/* about section styles */
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px 150px 130px 150px;
  margin-bottom: 130px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
  margin-top: 30px;
}
.info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
/* Work experience section styles*/
.work {
  padding: 0 0px 130px;
}
.work .section-description {
  padding-bottom: 50px;
  padding: 0 130px;
  margin-bottom: 50px;
}
.technologies {
  display: flex;
  justify-content: space-between;
}
.technology-xp {
  width: 267px;
  height: 377px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
  padding: 30px;
}

.technology-title {
  color: #181818;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0;
}

.technology-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/* summary section styles */
.summary {
  /* max-width: 85%; */
  margin: 0 auto;
}
.summary .section-title {
  margin-bottom: 100px;
}
.summary-container {
  display: flex;
  justify-content: space-around;
}
.cv h4 {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.cv-items {
  width: 90%;
}
.cv-items-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.cv-items-sub {
  color: #757575;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: 20px;
}
.cv-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
hr {
  margin: 30px 0;
  background: #d1d1d1;
}

.download {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 110px 0;
}
